* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

body::-webkit-scrollbar {
  width: 0.5rem; }

body::-webkit-scrollbar-track {
  background-color: transparent; }

body::-webkit-scrollbar-thumb {
  background-color: #9a0f98;
  border-radius: 5px; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 2em 3em; }

.menu__logo {
  color: #39065a;
  font-weight: 900;
  font-size: 2em;
  text-decoration: none; }

.menu__navbarLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 40vw; }
  .menu__navbarLinks li a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem; }
  .menu__navbarLinks li:last-child a {
    color: #9a0f98;
    padding: .4em 1.7em;
    border: 2px solid #9a0f98;
    border-radius: 5px; }
    .menu__navbarLinks li:last-child a:hover {
      background-color: #9a0f98;
      color: #ffffff;
      padding: .4em 1.7em;
      border: 2px solid #ffffff;
      border-radius: 5px; }

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem; }
  .hero__leftGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em 3em; }
  .hero__rightGroup {
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero__headline {
    font-weight: 900;
    font-size: 3.5em;
    margin: .2em 0; }
  .hero__tagline {
    font-weight: 500;
    font-size: 1.3em;
    width: 80%;
    margin: 1em 0; }
  .hero__cvDraw {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 80%; }
  .hero__cvBody {
    width: 18em;
    height: 25em;
    padding: 1em .2em;
    border-radius: 5px;
    box-shadow: 0 2.7px 3.3px rgba(0, 0, 0, 0.041), 0 7.5px 8.5px rgba(0, 0, 0, 0.054), 0 18.1px 19.1px rgba(0, 0, 0, 0.063), 0 60px 63px rgba(0, 0, 0, 0.16); }
  .hero__cvHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .hero__cvHeaderPic {
    background-color: #c2c2c2;
    border-radius: 50%;
    width: 4em;
    height: 4em; }
  .hero__cvHeaderLine {
    background-color: #c2c2c2;
    width: 9em;
    height: .6em;
    border-radius: 10px;
    margin: .4em;
    animation-name: line;
    animation-duration: 1s; }
  .hero__cvContent1 {
    position: absolute;
    top: 7em;
    left: 0;
    width: 0px;
    height: 7em;
    border-radius: 5px;
    box-shadow: 0 1.2px 2.9px rgba(0, 0, 0, 0.018), 0 2.7px 6.6px rgba(0, 0, 0, 0.026), 0 4.9px 11.9px rgba(0, 0, 0, 0.032), 0 8.2px 19.8px rgba(0, 0, 0, 0.038), 0 13.5px 32.5px rgba(0, 0, 0, 0.044), 0 23.6px 56.9px rgba(0, 0, 0, 0.052), 0 51px 123px rgba(0, 0, 0, 0.07);
    animation-name: content1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards; }
  .hero__cvContent2 {
    position: absolute;
    top: 16em;
    right: 0;
    width: 0px;
    height: 7em;
    border-radius: 5px;
    box-shadow: 0 1.2px 2.9px rgba(0, 0, 0, 0.018), 0 2.7px 6.6px rgba(0, 0, 0, 0.026), 0 4.9px 11.9px rgba(0, 0, 0, 0.032), 0 8.2px 19.8px rgba(0, 0, 0, 0.038), 0 13.5px 32.5px rgba(0, 0, 0, 0.044), 0 23.6px 56.9px rgba(0, 0, 0, 0.052), 0 51px 123px rgba(0, 0, 0, 0.07);
    animation-name: content2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards; }

@keyframes line {
  0% {
    width: 0px; }
  100% {
    width: 9em; } }

@keyframes content1 {
  0% {
    width: 0px; }
  100% {
    width: 17em; } }

@keyframes content2 {
  0% {
    width: 0px; }
  100% {
    width: 17em; } }

.pageSection {
  padding: 1.5em 5em; }

.sectionHeader {
  margin: 3em 0; }

.sectionTitle {
  font-weight: 700;
  font-size: 3rem;
  text-align: center; }

.sectionSubtitle {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  margin: 0; }

.stepsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em; }

.pricingWrapper {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-gap: 2rem;
  justify-content: center;
  padding: 1rem 0; }

.creatorsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.creatorsPic {
  width: 36vw; }

.txtWrapper {
  padding: 0 4rem; }

.subPageHeader {
  text-align: center;
  margin: 3rem; }

.subPageTitle {
  font-weight: 900;
  font-size: 3rem;
  margin: .2em 0; }

.subPageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.productsPageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 1.5em 5em; }

.card {
  text-align: center;
  padding: 3em 1em; }
  .card--withShadow {
    border-radius: 9px;
    box-shadow: 0 3.3px 3.7px -10px rgba(0, 0, 0, 0.024), 0 9.1px 10.1px -10px rgba(0, 0, 0, 0.035), 0 22px 24.4px -10px rgba(0, 0, 0, 0.046), 0 73px 81px -10px rgba(0, 0, 0, 0.07); }
  .card__iconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card__icon {
    position: absolute;
    width: 3.5rem; }
  .card__iconBackgr {
    width: 8.5rem;
    height: 8.5rem; }
  .card__title {
    font-weight: 700;
    font-size: 1.5em;
    margin: 1em 0; }
  .card__body {
    margin: 1rem 0; }

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center; }

.formWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2rem 5rem auto;
  grid-gap: 1rem;
  width: 60vw; }

.input {
  background-color: #fafafa;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 3px; }

.txtArea {
  grid-column: 1 / 3; }

.submitBtn {
  grid-column: 1 / 3; }

.signInForm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  width: 40vw; }

.signUpTxt {
  font-weight: 600;
  text-align: center;
  margin: 1rem 0; }
  .signUpTxt span {
    color: #9a0f98;
    text-decoration: underline; }

.button, .hero__button, .card__button, .submitBtn {
  background: linear-gradient(103deg, #39065a 0%, #9a0f98 62%);
  color: #ffffff;
  font-weight: 600;
  padding: 1.2em 2.5em;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer; }

.hero__button {
  font-size: 1em;
  width: 55%;
  margin: 1em 0;
  transition-duration: 500ms;
  transition-property: transform; }
  .hero__button:hover {
    transform: scale(1.1); }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 2em 3em; }

.footer__txt {
  color: #919191;
  font-weight: 600; }

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  list-style-type: none; }

.footer__rrssIcon {
  width: 25px;
  height: 25px; }
