.card { 
    text-align: center;
    padding: 3em 1em;

    &--withShadow {
        border-radius: 9px;
        box-shadow: $lighter-shadow;
    }

    &__iconContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        position: absolute;
        width: 3.5rem;
    }

    &__iconBackgr {
        width: 8.5rem;
        height: 8.5rem;
    }

    &__title {
        font-weight: 700;
        font-size: 1.5em;
        margin: 1em 0;
    }

    &__body {
        margin: 1rem 0;
    }
}
