.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 2em 3em;
}

.footer__txt {
    color: rgb(145, 145, 145);
    font-weight: 600;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 6rem;
    list-style-type: none;
}

.footer__rrssIcon {
    width: 25px;
    height: 25px;
}