.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2rem 5rem auto;
    grid-gap: 1rem;
    width: 60vw;
}

.input {
    background-color: $light-gray;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.txtArea {
    grid-column: 1 / 3;
}

.submitBtn {
    grid-column: 1 / 3;
}

.signInForm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
    width: 40vw;
}

.signUpTxt {
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;

    span {
        color: $secondary-color;
        text-decoration: underline;
    }

}
