.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem; 

    &__leftGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em 3em;
    }

    &__rightGroup {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__headline {
        font-weight: 900;
        font-size: 3.5em;
        margin: .2em 0;
    }

    &__tagline {
        font-weight: 500;
        font-size: 1.3em;
        width: 80%;
        margin: 1em 0;
    }


    // =================== CV DRAW

    &__cvDraw {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        width: 80%;
    }

    &__cvBody {
        width: 18em;
        height: 25em;
        padding: 1em .2em;
        border-radius: 5px;
        box-shadow: $normal-shadow;
    }

    &__cvHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__cvHeaderPic {
        background-color: $medium-gray; 
        border-radius: 50%;
        width: 4em;
        height: 4em;
    }

    &__cvHeaderLine {
        background-color: $medium-gray;
        width: 9em;
        height: .6em;
        border-radius: 10px;
        margin: .4em;
        animation-name: line;
        animation-duration: 1s;
    }

    &__cvContent1 {
        position: absolute;
        top: 7em;
        left: 0;
        width: 0px;
        height: 7em;
        border-radius: 5px;
        box-shadow: $darker-shadow;
        animation-name: content1;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    &__cvContent2 { 
        position: absolute;
        top: 16em;
        right: 0;
        width: 0px;
        height: 7em;
        border-radius: 5px;
        box-shadow: $darker-shadow;
        animation-name: content2;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

}

@keyframes line {
    0% {
        width: 0px;
    }
    100% {
        width: 9em;
    }
}

@keyframes content1 {
    0% {
        width: 0px;
    }
    100% {
        width: 17em;
    }
}

@keyframes content2 {
    0% {
        width: 0px;
    }
    100% {
        width: 17em;
    }
}
