.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 2em 3em;
}

.menu__logo {
    color: $primary-color;
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
}

.menu__navbarLinks {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40vw;

    li {
        a {
            color: #000000;
            text-decoration: none;
            font-weight: 500;
            font-size: 1rem; 
        }

        &:last-child {
            a {
                color: $secondary-color;
                padding: .4em 1.7em;
                border: 2px solid $secondary-color;
                border-radius: 5px;

                &:hover {
                    background-color: $secondary-color;
                    color: #ffffff;
                    padding: .4em 1.7em;
                    border: 2px solid #ffffff;
                    border-radius: 5px;
                }
            }
        }
    }
}
