body {

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background-color:  transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        border-radius: 5px;
    }

}
