
.pageSection {
    padding: 1.5em 5em; 
}

.sectionHeader {
    margin: 3em 0;
}

.sectionTitle {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.sectionSubtitle {
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

.stepsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
}

.pricingWrapper {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 2rem;
    justify-content: center;
    padding: 1rem 0;
}

.creatorsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.creatorsPic {
    width: 36vw;
}

.txtWrapper{
    padding: 0 4rem;
}

.subPageHeader {
    text-align: center;
    margin: 3rem;
}

.subPageTitle {
    font-weight: 900;
    font-size: 3rem;
    margin: .2em 0;
}

.subPageBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productsPageWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5em 5em; 
}

