// =================== FONTS
$font-stack: 'Poppins', sans-serif;

// =================== BRAND COLORS
$primary-color: #39065a;
$secondary-color: #9a0f98;


// =================== GRADIENTS 
$brand-gradient: linear-gradient(103deg, rgba(57,6,90,1) 0%, rgba(154,15,152,1) 62%);


// =================== GRAYSCALE
$dark-gray:  rgb(145, 145, 145);
$medium-gray: rgb(194, 194, 194);
$light-gray:  rgb(250, 250, 250);


// =================== SHADOWS 
$normal-shadow: 0 2.7px 3.3px rgba(0, 0, 0, 0.041),
                0 7.5px 8.5px rgba(0, 0, 0, 0.054),
                0 18.1px 19.1px rgba(0, 0, 0, 0.063),
                0 60px 63px rgba(0, 0, 0, 0.16);
$lighter-shadow: 0 3.3px 3.7px -10px rgba(0, 0, 0, 0.024),
                0 9.1px 10.1px -10px rgba(0, 0, 0, 0.035),
                0 22px 24.4px -10px rgba(0, 0, 0, 0.046),
                0 73px 81px -10px rgba(0, 0, 0, 0.07);
$darker-shadow: 0 1.2px 2.9px rgba(0, 0, 0, 0.018),
                0 2.7px 6.6px rgba(0, 0, 0, 0.026),
                0 4.9px 11.9px rgba(0, 0, 0, 0.032),
                0 8.2px 19.8px rgba(0, 0, 0, 0.038),
                0 13.5px 32.5px rgba(0, 0, 0, 0.044),
                0 23.6px 56.9px rgba(0, 0, 0, 0.052),
                0 51px 123px rgba(0, 0, 0, 0.07);          